<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="infoLogFile" xsi:type="File"
            layout="${longdate}|${threadid}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            fileName="${configsetting:name=Logging.LogBaseDirectory}/info-${shortdate}.log" />
		<target name="errorLogFile" xsi:type="File"
            layout="${longdate}|${threadid}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            fileName="${configsetting:name=Logging.LogBaseDirectory}/error-${shortdate}.log" />
    </targets>

    <rules>
      <logger name="*" minlevel="Error" writeTo="errorLogFile" />
      <!--Skip non-critical Microsoft logs. BlackHole without writeTo-->
      <logger name="Microsoft.*" maxlevel="Info" final="true" />
      <logger name="System.*" maxlevel="Info" final="true" />
      
      <logger name="*" minlevel="Info" writeTo="infoLogFile" />
    </rules>
</nlog>