<?xml version="1.0" ?>
<nlog internalLogFile="${configsetting:name=Logging.LogBaseDirectory}\nlog-internal.log" internalLogLevel="Trace"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="infoLogFile" xsi:type="File"
            layout="${longdate}|${threadid}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            fileName="${configsetting:name=Logging.LogBaseDirectory}/info-${shortdate}.log" />
		<target name="errorLogFile" xsi:type="File"
            layout="${longdate}|${threadid}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            fileName="${configsetting:name=Logging.LogBaseDirectory}/error-${shortdate}.log" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="infoLogFile" />
        <logger name="*" minlevel="Error" writeTo="errorLogFile" />
    </rules>
</nlog>