<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white pb-0 pl-0">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
<p class="h3 mb-4">Home page</p>
<div class="pb-4 d-flex align-items-center">
  <p class="h5 mr-4 pr-2">Hotels</p>
  <a routerLink="/Hotel/Add/" class="btn btn-primary btn-sm" role="button" aria-disabled="true">+ Add hotel</a>
</div>
<div class="list-group">
  <div class="list-group-item d-flex justify-content-between py-0 pr-0" *ngFor="let currHotel of allHotels">
    <a routerLink="Hotel/{{ currHotel.id }}" class="row py-2 pl-3 br-1 w-100 border-right">{{ currHotel.name }}</a>
    <div class="dropleft ml-auto w-auto row">
      <button class="btn shadow-none mt-auto mb-auto mx-3" id="hotel1DropdownMenu" data-toggle="dropdown">
        <i class="fas fa-ellipsis-v"></i>
      </button>
      <div class="dropdown-menu rounded-0" aria-labelledby="hotel1DropdownMenu">
        <a class="dropdown-item" routerLink="/Hotel/Edit/{{ currHotel.id }}">Edit</a>
        <a class="dropdown-item" routerLink="/Hotel/Delete/{{ currHotel.id }}">Delete</a>
      </div>
    </div>
  </div>
</div>
