<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white pb-0 pl-0">
    <li class="breadcrumb-item" aria-current="page">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ hotel?.name }}</li>
  </ol>
</nav>
<p class="h3 mb-4"></p>
<div class="pb-4 d-flex align-items-center">
  <p class="h5 mr-4 pr-2">Rooms</p>
  <a routerLink="/Room/Add/{{ hotelId }}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">+ Add room</a>
</div>
<div class="list-group" *ngFor="let currRoom of allHotelRooms">
  <div class="list-group-item d-flex justify-content-between py-0 pr-0">
    <a routerLink="/Room/Edit/{{ currRoom?.id }}" class="row py-2 pl-3 br-1 w-100 border-right">{{ currRoom?.name }}</a>
    <div class="dropleft ml-auto w-auto row">
      <button class="btn shadow-none mt-auto mb-auto mx-3" id="room1DropdownMenu" data-toggle="dropdown">
        <i class="fas fa-ellipsis-v"></i>
      </button>
      <div class="dropdown-menu rounded-0" aria-labelledby="room1DropdownMenu">
        <a class="dropdown-item" routerLink="/Room/Edit/{{ currRoom?.id }}">Edit</a>
        <a class="dropdown-item" routerLink="/Room/Delete/{{ currRoom?.id }}">Delete</a>
      </div>
    </div>
  </div>
</div>
