<breadcrumbs [menuItemLinks]="[['Home', '/'], [hotel?.name, '/Hotel/' + hotel?.id], ['Edit Room', '']]"></breadcrumbs>

<p class="h3 mb-4">"{{ room?.name }}" Editing</p>
<form (ngSubmit)="onSubmit()" [formGroup]="form" >
  <div class="form-group row">
    <label for="nameField" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nameField" placeholder="Room name" formControlName="Name">
    </div>
    <div class="col-md-10 offset-2 text-danger" *ngIf="formControls.Name.touched && formControls.Name.errors?.required">Name is required</div>
    <div class="col-md-10 offset-2 text-danger" *ngIf="formControls.Name.touched && formControls.Name.errors?.onlySpaces">A value consisting only of spaces is not valid</div>
  </div>
  <div class="form-group row">
    <label for="TLApiCodeField" class="col-sm-2 col-form-label">TLApiCode</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="TLApiCodeField" placeholder="Room TLApiCode" formControlName="TLApiCode">
    </div>
    <div class="col-md-10 offset-2 text-danger" *ngIf="formControls.TLApiCode.touched && formControls.TLApiCode.errors?.required">TLApiCode is required</div>
    <div class="col-md-10 offset-2 text-danger" *ngIf="formControls.TLApiCode.touched && formControls.TLApiCode.errors?.onlySpaces">A value consisting only of spaces is not valid</div>
  </div>
  <div class="form-group row">
    <label for="UrlField" class="col-sm-2 col-form-label">URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="UrlField" placeholder="Room URL" formControlName="Url">
    </div>
    <div class="col-md-10 offset-2 text-danger" *ngIf="formControls.Url.touched && formControls.Url.errors?.required">Url is required</div>
    <div class="col-md-10 offset-2 text-danger" *ngIf="formControls.Url.touched && formControls.Url.errors?.onlySpaces">A value consisting only of spaces is not valid</div>
  </div>
  <input type="hidden" name="Id" formControlName="Id" />
  <input type="hidden" name="HotelId" formControlName="HotelId" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

